@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    color: #333;
    background:linear-gradient(
        to right,
        #C19D23  0%,
        #C19D23  50%,
        #F8F8F8 50%,
        #F8F8F8 100% 
    ) ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 80%;
    z-index: 1000;
    border-radius: 100px 100px 100px 100px;
    margin-top: 20px;
    margin-left: 10%;


}

.navbar__logo img {
    height: 50px;
}

.navbar__menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar__link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px;
}

.navbar__link--active,
.navbar__link:hover {
    background-color: #ffd700;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 150px 40px;
    padding-bottom: 0;
}

.header__content {
    max-width: 40%;
}

.header__title {
    font-size: 3.5rem;
    color: #000000;
    margin-bottom: 10px;
}

.header__subtitle {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.header__name {
    color: #ffd700;
}

.header__description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #555;
}

.button {
    background-color: #ffd700;
    color: #fff;
    border: none;
    padding: 12px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #f4c107;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.header__image img {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 150px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header__content {
        max-width: 100%;
    }

}